.btn {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	cursor: pointer;
	padding: 0;
	flex-shrink: 0;

	@include vp-767 {
		font-size: 12px;
		line-height: 16px;
	}

	&--bg-black {
		background-color: $color-bokara-grey;
		color: $color-white;
		padding: 18px;
		width: 420px;

		&:hover, &:focus-visible {
			background-color: $color-green-white;
			color: $color-bokara-grey;
			outline: 1px solid $color-bokara-grey;
		}

		@media (max-width: 1400px) {
			padding: 12px 18px;
			width: 320px;
		}

		@media (max-width: 1100px) {
			padding: 12px 18px;
			width: 220px;
		}

		@include vp-1023 {
			min-width: 620px;
			padding: 18px;
		}

		@include vp-767 {
			min-width: 260px;
			padding: 16px;
		}
	}

	&--dashed {
		border-bottom: 1px dashed $color-bokara-grey;

		&:hover, &:focus-visible {
			color: $color-grayish-orange;
			outline:none;
			border-color: $color-grayish-orange;
		}

		@media (max-width: 1150px) {
			font-size: 12px;
			line-height: 16px;
		}

		@include vp-1023 {
			font-size: 14px;
			line-height: 18px;
		}

		@include vp-767 {
			font-size: 12px;
			line-height: 16px;
		}
	}
}