.dolyami {
	display: grid;
	grid-template-columns: 68px auto auto;
	align-items: center;
	gap: 10px;
	max-width: 320px;
	padding: 12px;
	border-radius: 8px;
	background-color: rgba($color-black, $alpha: 0.04);

	&:hover,
	&:focus-visible {
		background-color: rgba($color-black, $alpha: 0.08);
		outline: none;
	}

	@include vp-1023 {
		min-width: 320px;
	}

	@include vp-767 {
		width: 100%;
	}

	&__logo {
		display: flex;
	}

	&__text {
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
	}

	&__forward-icon {
		margin: 0 0 0 auto;
	}
}