.header {
	padding: 16px 0 15px;
	border-bottom: 1px solid $color-swiss-coffee;

	@include vp-1023 {
		padding: 18px 0 17px;
	}

	@include vp-767 {
		padding: 14px 0 13px;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo-link {
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover, &:focus-visible {
			opacity: 0.5;
			outline:none;
		}
	}

	&__logo-icon {
		@include vp-1023 {
			width: 100px;
			height: 36px;
		}

		@include vp-767 {
			width: 90px;
			height: 32px;
		}
	}

	&__main-nav {
		margin: 0 0 0 40px;

		@include vp-1023 {
			margin: 0;
		}
	}

	&__users-list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		align-items: center;
		gap: 20px;

		@include vp-767 {
			gap: 15px;
		}
	}

	&__users-item {
		&--call {
			@include vp-1023 {
				display: none;
			}
		}
	}

	&__users-link {
		background-color: transparent;
		border: none;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover, &:focus-visible {
			color: $color-moon-mist;
			outline:none;
		}

		@include vp-1023 {
			width: 20px;
			height: 20px;
		}
	}
}