.interrior {
	padding: 120px 0;

	@media (max-width: 1400px) {
		padding: 60px 0;
	}

	@include vp-767 {
		padding: 52px 0 49px;
	}

	&__title {
		font-weight: 400;
		font-size: 48px;
		line-height: 56px;
		letter-spacing: -0.04em;
		margin: 0 0 40px;

		@include vp-1023 {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 30px;
		}

		@include vp-767 {
			font-size: 26px;
			line-height: 32px;
			margin-bottom: 25px;
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;

		@include vp-1023 {
			gap: 9px;
		}

		@include vp-767 {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}

	&__img {
		width: 100%;
		display: flex;
		cursor: pointer;
		aspect-ratio: 1;

		@include vp-767 {
			width: 280px;
			height: 280px;
		}
	}
}