.socials {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 15px;

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;

		@include vp-1023 {
			width: 20px;
			height: 20px;
		}

		&:hover, &:focus-visible {
			color: $color-moon-mist;
			outline:none;
		}

	}
}