.custom-checkbox {
  align-items: center;
  display: flex;

  &__field {
    &:checked {
      + .custom-checkbox__label .custom-checkbox__icon {
        opacity: 1;
      }

      + .custom-checkbox__label::before {
        background-color: $color-light-green;
      }

      + .custom-checkbox__label .custom-checkbox__text {
        color: $color-white;
      }
    }

    &:hover,
    &:focus-visible {
      + .custom-checkbox__label .custom-checkbox__text {
        color: $color-light-green;
      }
    }
  }

  &__label {
    cursor: pointer;
    padding: 0 0 0 48px;
    position: relative;

    &::before {
      background-color: rgba($color-white, 0.15);
      border-radius: 4px;
      content: "";
      height: 30px;
      left: 0;
      position: absolute;
      top: 2px;
      width: 30px;
      transition: background-color $transition-300;
    }
  }

  &__icon {
    height: 15px;
    left: 8px;
    opacity: 0;
    position: absolute;
    top: 9px;
    width: 17px;
    transition: opacity $transition-300;
  }

  &__text {
    font-size: 22px;
    line-height: 32px;
    user-select: none;
    transition: color $transition-300;
  }
}

