.header {
  margin: 0 0 48px 0;
  padding: 19px 0;
  background-color: $color-white;

  @include vp-1023 {
    padding: 15px 0;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__logo-link {
    display: flex;

    &:hover, &:focus-visible {
      opacity: 0.5  ;
      outline:none;
    }

    @include vp-1023 {
      width: 152px;
      height: 35px;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 40px;
    padding: 0;
    background-color: $color-bunting;
    border: none;
    border-radius: 24px;
    cursor: pointer;

    &:hover, &:focus-visible {
      background-color: $color-zorba;
      outline:none;
    }

    @include vp-1023 {
      width: 56px;
      height: 34px;
    }
  }
}
