.header {
	$root: &;
	padding: 20px 0 19px;
	border-bottom: 1px solid $color-gainsboro;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: $color-white;
	z-index: 100;

	@include vp-1023 {
		padding: 17px 0 16px;
	}

	&--open {
		background-color: $color-blue-charcoa;
    border-color: $color-rhino;

		#{$root}__logo-link,
		#{$root}__page,
    #{$root}__link,
    #{$root}__phone,
    #{$root}__menu {
			color: $color-white;
      justify-content: start;
		}

    #{$root}__menu-icon {
      display: none;
      &--close {
        display: flex;
      }
    }

    .main-nav {
      display: flex;
    }
	}

	.container {
		max-width: 1728px;
		padding: 0 50px;

		@include vp-1023 {
			padding: 0 20px;
		}
	}

	&__content {
		position: relative;
		display: grid;
		align-items: center;
		grid-template-columns: 1fr auto 1fr;
		gap: 20px;

		@include vp-1023 {
			grid-template-columns: 1fr 1fr;
		}
	}

	&__left-col {
		display: flex;
		align-items: center;
	}

	&__menu {
		display: flex;
		width: 60px;
		height: 40px;
		background-color: transparent;
		padding: 0;
		border: none;
		color: $color-blue-charcoa;
		align-items: center;
		justify-content: center;
		margin: 0 70px 0 0;
		cursor: pointer;
		transition: opacity $transition-300;

		@include vp-1023 {
			width: 47px;
			height: 20px;
		}

		@include vp-767 {
			margin: 0 70px 0 0;
		}

		&:hover,
		&:focus-visible {
			opacity: 0.7;
			outline: none;
		}
	}

	&__menu-icon {
		height: 23px;
		width: 60px;

		@include vp-1023 {
			height: 18px;
			width: 47px;
		}

    &--close {
      width: 40px;
      height: 40px;
      display: none;

      @include vp-1023 {
        width: 32px;
        height: 32px;
      }
    }
	}

	&__logo-link {
		height: 26px;
		width: 114px;
		display: flex;
		color: $color-blue-charcoa;
		transition: opacity $transition-300;

		&:hover,
		&:focus-visible {
			opacity: 0.7;
		}

		@include vp-1023 {
			height: 24px;
			width: 105px;
		}

		@include vp-767 {
			height: 20px;
			width: 88px;

			svg {
				height: 20px;
				width: 88px;
			}
		}
	}

	&__page {
		font-size: 18px;
		line-height: 26px;
		display: block;

		@media (max-width: 1199px) {
			font-size: 16px;
			line-height: 20px;
		}

		@include vp-1023 {
			display: none;
		}
	}

	&__right-col {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 40px;
		font-size: 18px;
		line-height: 22px;

		@media (max-width: 1199px) {
			font-size: 16px;
			line-height: 20px;
		}

		@include vp-1023 {
			gap: 20px;
			font-size: 14px;
		}
	}

	&__link {
		@include vp-767 {
			display: none;
		}

		&:hover,
		&:focus-visible {
			text-decoration: underline;
		}
	}

	&__phone {
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover,
		&:focus-visible {
			opacity: 0.7;
		}
	}

	&__phone-text {
		@include vp-1023 {
			display: none;
		}
	}

	&__phone-icon {
		height: 24px;
		width: 24px;
		display: none;

		@include vp-1023 {
			display: flex;
		}
	}
}
