.info {
	$root: &;

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		&--grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
			padding: 40px 0 20px;

			@include vp-1023 {
				padding: 20px 0;
			}

			@include vp-767 {
				display: flex;
				flex-direction: column;
				gap: 15px;
				padding: 30px 0 15px;
			}
		}
	}

	&__item {
		position: relative;

		&:not(:last-child)::after {
			content: '';
			width: 100%;
			height: 1px;
			background-color: $color-iron;
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}
