.tag {
	padding: 40px 0 19px;
	border-bottom: 1px solid $color-iron;
	display: flex;
	flex-direction: column;
	gap: 40px;
	overflow: hidden;

	@include vp-1023 {
		flex-direction: row;
		justify-content: space-between;
		margin: 0 -20px;
		padding: 17px 20px 14px;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		align-items: center;

		@include vp-1023 {
			flex-wrap: nowrap;
			overflow: auto;
			margin: 0 -20px;
			padding: 0 20px;
			white-space: nowrap;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		@include vp-767 {
			display: none;
		}
	}
	&__nav-btn {
		border: none;
		display: none;
		padding: 8px 16px;
		border-radius: 60px;
		background-color: $color-ecru-white;
		font-weight: 300;
		font-size: 12px;
		line-height: 16px;
		cursor: pointer;
		transition: background-color $transition-300;

		@include vp-767 {
			display: block;
		}

		&:hover,
		&:focus-visible {
			background-color: $color-chrome-white;
			outline: none;
		}
	}

	&__link {
		padding: 8px 16px;
		background-color: $color-ecru-white;
		border-radius: 60px;
		display: block;
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		color: $color-blue-charcoa;
		transition: background-color $transition-300;

		@media (max-width: 1200px) {
			font-size: 12px;
			line-height: 16px;
			padding: 6px 10px;
		}

		&:hover,
		&:focus-visible {
			background-color: $color-chrome-white;
			outline: none;
		}

		&--active {
			background-color: $color-blue-charcoa;
			color: $color-white;
			pointer-events: none;
		}
	}

	&__menu-wrap {
		display: flex;
		align-items: center;
		gap: 30px;

		@include vp-767 {
			gap: 20px;
		}
	}

	&__menu-btn {
		border: none;
		background-color: transparent;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 10px;
		font-weight: 300;
		font-size: 18px;
		line-height: 26px;
		color: $color-mischka;
		transition: color $transition-300;
		padding: 0;

		@include vp-767 {
			width: 20px;
			height: 20px;
		}

		&--active {
			color: $color-blue-charcoa;
			pointer-events: none;
		}

		&:hover,
		&:focus-visible {
			color: $color-blue-charcoa;
			outline: none;
			.tag__menu-text {
				text-decoration: underline;
			}
		}
	}

	&__menu-text {
		@include vp-1023 {
			display: none;
		}
	}
}
