.card-link {
  border-radius: 20px;
  background: $color-magnolia;
  padding: 23px 20px;
  display: grid;
  grid-template-columns: 46px 1fr;
  gap: 8px;
  cursor: pointer;

  &:hover, &:focus-visible {
    background-color: $color-white-lilac-2;
    outline:none;
  }

  @include vp-767 {
    border-radius: 16px;
    padding: 15px;
    grid-template-columns: 36px 1fr;
    gap: 10px;
  }

  &__icon {
    width: 44px;
    height: 44px;
    flex-shrink: 0;

    @include vp-767 {
      width: 36px;
      height: 36px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    margin: 0;

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__text {
    color: $color-nero-50;
    font-size: 13px;
    line-height: 16px;
    margin: 0;

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
