// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-gainsboro: #e2e2e2;
$color-blue-charcoa: #1d252d;
$color-mischka: #A7A8AA;
$color-iron: #CBCCCC;
$color-grey: #F7F7F4;
$color-trout: #4A5157;
$color-ecru-white: #D6D2C4;

$color-white-50: rgba(255, 255, 255, 0.5);


// Typography

$ff-imb-plex: "IBM Plex Sans", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition

$transition-300: 0.3s ease;
