// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-blue-charcoa: #1d252d;
$color-twilight-blue: #f2f3ee;
$color-gainsboro: #e2e2e2;
$color-very-light-grey: #cccccc;
$color-ecru-white: #d6d2c4;
$color-chrome-white: #cdc8b6;
$color-trout: #4a5157;

$color-white-50: rgba(255, 255, 255, 0.5);


// Typography

$ff-imb-plex: "IBM Plex Sans", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
