*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	background-color: $color-bg;
	min-height: 100vh;

	font-family: $ff-jost;
}

main {
	flex-grow: 1;
}
