// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-black-pearl: #121C25;
$color-bay-leaf: #6FB582;
$color-light-green: #87F29A;
$color-pastel-green: #78DF8A;
$color-salmon: #FF7575;
$color-perano: #afa3ff;
$color-light-slate-blue: #998cf1;
$color-turbo: #FFC61F;
$color-moon-yellow: #F2B913;

// Typography
$ff-play: "Play", "Arial", sans-serif;
$ff-press: "Press Start 2P", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
