.header {
  padding: 25px 0 23px;
  border-bottom: 1px solid $color-gainsboro;

  @include vp-1023 {
    padding: 18px 0 17px;
  }

  @include vp-767 {
    padding: 20px 0 19px;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__menu {
    position: absolute;
    top: 50%;
    left: 0;
    width: 60px;
    height: 23px;
    margin: 0 72px 0 0;
    padding: 0;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover, &:focus-visible {
      opacity: 0.5;
      outline:none;
    }

    @include vp-1023 {
      right: 0;
      left: auto;
      margin: 0;
      width: 52px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo-link {
    color: $color-blue-charcoa;

    &:hover, &:focus-visible {
      opacity: 0.5;
      outline:none;
    }

    @include vp-1023 {
      width: 105px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include vp-767 {
      width: 88px;
      height: 20px;
    }
  }
}

