.team-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  background-color: $color-twilight-blue;
  border-radius: 20px;
  min-height: 463px;

  @include vp-1023 {
    min-height: 373px;
  }

  @include vp-767 {
    padding: 20px;
    min-height: 460px;
  }

  &__job-title {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 5px 0;

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__name {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    @include vp-767 {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 15px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 30px;
    height: 100%;

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex-grow: 1;
    }
  }

  &__img {
    width: 220px;
    height: 100%;
    border-radius: 12px;

    @include vp-767 {
      width: 120px;
      height: 130px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @include vp-767 {
      flex-grow: 1;
    }
  }

  &__quote {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 22px;

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }

  &--center &__quote {
    text-align: center;

    @include vp-1023 {
      text-align: left;
    }
  }

  &__quote-text {
    margin: 0;
  }

  &__description {
    max-width: 270px;
    margin: 0 0 20px auto;
    font-size: 14px;
    line-height: 18px;
    text-align: right;

    @include vp-1023 {
      max-width: 300px;
    }

    @include vp-767 {
      max-width: 240px;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 23px;
    }
  }

  &--center &__description {
    text-align: center;

    @include vp-1023 {
      text-align: right;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto 0 0 0;

    @include vp-1023 {
      justify-content: flex-end;
    }

    @include vp-767 {
      gap: 15px;
    }
  }

  &__link {
    width: 140px;
    padding: 7px;
    font-size: 14px;
    line-height: 18px;
    color: $color-blue-charcoa;
    text-align: center;
    border-radius: 40px;

    &:hover, &:focus-visible {
      text-decoration: underline;
      outline:none;
    }

    

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
      padding: 9px;
    }
  }

  &__link--secondary {
    background-color: $color-ecru-white;

    &:hover,
      &:focus-visible {
        background-color: $color-chrome-white;
        text-decoration: none;
        outline: none;
      }
  }
}