// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #cccccc;
$color-bokara-grey: #141211;
$color-hint-of-red: #f4f3f2;
$color-swiss-coffee: #D7CFCB;
$color-grayish-orange: #AEA29A;
$color-soft-peach: #EAE6E5;
$color-cloudy: #B5AFA6;
$color-mischka: #A8A9AE;
$color-moon-mist: #C8C8B6;
$color-green-white: #DEDED2;




// Typography
$ff-mulish: "Mulish", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
