.advices {
  &__title {
    margin: 0 0 60px;
    font-size: 40px;
    line-height: 46px;
    text-align: center;

    @include vp-1023 {
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  } 
}
