.advice-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 40px 32px;

  @include vp-1023 {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
  }
}
