.breadcrumbs {
  padding: 20px 0 0;
  margin: 0 0 32px 0;

  @include vp-1023 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    padding-top: 15px;
    margin-bottom: 15px;
  }

  &--alternate {
    .breadcrumbs__list {
      justify-content: flex-start;

      @include vp-1023 {
        justify-content: center;
      }
    }
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    gap: 19px;
  }

  &__link {
    outline: none;
    display: block;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    text-decoration: none;



    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }

    &:not(.breadcrumbs__link--active) {
      color: $color-manatee-1;

      &:hover,
      &:focus-visible {
        color: $color-royal-blue;
        outline: none;
      }

      &::after {
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $color-manatee-1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -11px;
      }
    }
  }
}