.features-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  &--alternate {
    grid-template-columns: repeat(4, 1fr);

    @include vp-1023 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
