.features-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $color-solitude-1;
  border-radius: 12px;
  padding: 32px;
  position: relative;

  @include vp-1023 {
    padding: 30px;
  }

  @include vp-767 {
    padding: 20px;
    min-height: 230px;
    justify-content: space-between;
  }

  &--vertical {
    height: 100%;
    padding: 32px 20px 20px;

    @include vp-1023 {
      padding: 15px;
      position: relative;
    }

     @include vp-767 {
      padding: 15px 15px 20px;
      min-height: 302px;
    }

    .features-card__wrapper {
      flex-direction: column;
      height: 100%;
      margin: 0 0 25px 0;

      @include vp-1023 {
        margin-bottom: 20px;
      }

      @include vp-767 {
        margin-bottom: 10px;
      }
    }

    .features-card__inner {
      align-items: center;

      @include vp-1023 {
        align-items: start;
        max-width: 180px;
      }
    }

    .features-card__label {
      margin: 0 0 8px 0;

      @include vp-1023 {
        margin-bottom: 10px;
      }
    }

    .features-card__title {
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 8px 0;
      text-align: center;

      @include vp-1023 {
        text-align: left;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
      }

      @include vp-767 {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 5px;
      }
    }

    .features-card__note {
      font-size: 14px;
      line-height: 20px;
      text-align: center;

      @include vp-1023 {
        font-size: 12px;
        line-height: 16px;
        text-align: left;
      }
    }

    .features-card__picture {
      margin: auto auto 0;
      padding: 0 18px;

      @include vp-1023 {
        padding: 0;
        width: 130px;
        height: 80px;
        right: 15px;
      }

      @include vp-767 {
        bottom: 38px;
      }
    }

    .features-card__btn {
      margin: 0 auto;

      @include vp-1023 {
        margin: 0;
      }

      @include vp-767 {
        margin: 0 auto;
      }
    }
  }

  &--reverse {
    .features-card__label {
      border: 1px solid $color-white-alpha;
      color: $color-white-alpha;
    }

    .features-card__title {
      color: $color-white;
    }

    .features-card__note {
      color: $color-white;
    }
  }

  &--bg-blue {
    background-color: $color-royal-blue;
  }

  &--bg-green {
    background-color: $color-humming-bird;
  }

  &--bg-lightblue {
    background-color: $color-pattens-blue;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    margin: 0 0 16px 0;

    @include vp-1023 {
      justify-content: space-between;
      margin-bottom: 30px;
    }

    @include vp-767 {
      margin-bottom: 10px;
    }

  }

  &__inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    @include vp-767 {
      max-width: 200px;
    }
  }

  &__picture {
    flex-shrink: 0;

    @include vp-1023 {
      width: 220px;
      height: 140px;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
    }

    @include vp-767 {
      width: 160px;
      height: 100px;
      right: 0;
    }
  }

  &__label {
    border: 1px solid $color-black-russian-alpha;
    border-radius: 4px;
    color: $color-black-russian-alpha;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    margin: 0 0 12px 0;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 66px;

    @include vp-1023 {
      font-size: 8px;
      line-height: 12px;
      width: 58px;
      margin-bottom: 15px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 12px 0;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  &__note {
    font-size: 15px;
    line-height: 22px;
    margin: 0;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__btn {
    width: 140px;

    @include vp-1023 {
      width: 127px;
    }
  }
}
