.footer {
  background-color: $color-solitude-2;
  padding: 36px 0;

  @include vp-1023 {
    padding: 30px 0;
  }

  &__content {
    align-items: center;
    display: flex;
    position: relative;

    @include vp-1023 {
      display: grid;
      grid-template-columns: 170px 1fr;
      padding-left: 4px;
      gap: 10px 80px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  &__logo-link {
    display: flex;
    margin: 0 80px 0 0;

    &:focus, &:focus-visible {
      opacity: 0.5;
      outline: none;
    }

    @include vp-1023 {
      margin: 0;
    }

    @include vp-767 {
      width: 151px;
      height: 32px;
    }
  }

  &__contacts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
    list-style: none;
    margin: 0;
    max-width: 500px;
    padding: 0;

    @include vp-1023 {
      grid-row: span 2;
    }

    @include vp-767 {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__contacts-item {
    display: flex;
    flex-direction: column;

    @include vp-767 {
      align-items: center;
    }
  }

  &__contacts-text {
    color: $color-storm-grey-1;
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 4px 0;

    @include vp-1023 {
      margin-bottom: 5px;
    }

    @include vp-767 {
      font-size: 12px;
    }
  }

  &__contacts-phone {
    outline: none;
    color: $color-black-russian;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;

    &:hover, &:focus-visible {
      color: $color-royal-blue;
      outline: none;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__info {
    align-items: center;
    display: flex;
    margin: 0 0 0 auto;

    @include vp-1023 {
      display: none;
    }
  }

  &__info-text {
    color: $color-storm-grey-1;
    font-size: 13px;
    line-height: 16px;
    margin: 0 20px 0 0;
    max-width: 180px;
    text-align: right;
  }

  &__app-list {
    align-items: center;
    display: flex;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__app-link {
    outline: none;
    align-items: center;
    background-color: $color-white;
    border-radius: 8px;
    display: flex;
    height: 40px;
    justify-content: center;
    text-decoration: none;
    width: 40px;

    &:hover, &:focus-visible {
      background-color: $color-quartz;
      outline: none;
    }
  }

  &__note {
    color: $color-storm-grey-alpha;
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    right: 0;
    bottom: -28px;

    @include vp-1023 {
      position: unset;
    }
  }
}
