.press-room {
  &__title {
    margin: 0 0 60px;
    font-size: 40px;
    line-height: 46px;

    @include vp-1023 {
      text-align: center;
      font-size: 32px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 420px 740px;
    column-gap: 80px;

    @include vp-1023 {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  &__box {
    @include vp-1023 {
      grid-row: 2;
    }
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 40px;
    padding: 20px;
    border-radius: 12px;
    background-color: $color-ghost-white;
    background-image: url("../images/subscribe-image-desktop.png");
    background-size: 100%;

    @include vp-1023 {
      background-image: url("../../images/subscribe-image-tablet.png");
      align-items: center;
      margin-bottom: 20px;
    }

    @include vp-767 {
      background-image: unset;
      margin-bottom: 15px;
    }
  }

  &__newsletter-title {
    max-width: 220px;
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 24px;

    @include vp-1023 {
      text-align: center;
      max-width: 100%;
      font-size: 18px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 5px;
    }
  }

  &__newsletter-text {
    max-width: 220px;
    margin: 0 0 60px;
    font-size: 15px;
    line-height: 22px;

    @include vp-1023 {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 15px;
    }
  }

  &__newsletter-btn {
    width: 115px;

    @include vp-1023 {
      min-width: 138px;
    }
  }
}
