// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-gainsboro: #e2e2e2;
$color-blue-charcoa: #1d252d;
$color-mischka: #a7a8aa;
$color-iron: #cbcccc;
$color-chrome-white: #c8c4b5;
$color-ecru-white: #d6d2c4;
$color-twilight-blue: #f2f3ee;
$color-rhino: #444D56;

$color-white-50: rgba(255, 255, 255, 0.5);


// Typography

$ff-imb-plex: "IBM Plex Sans", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

$transition-300: 0.3s ease-in;