.advantages {
  &__main-list {
    display: grid;
    gap: 40px;
    padding: 100px 0 0 0;
    margin: 0 0 100px;
    list-style-type: none;

    @include vp-1023 {
      padding-top: 80px;
      grid-template-columns: repeat(2, 1fr);
      gap: 18px;
      margin-bottom: 80px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-top: 60px;
      margin-bottom: 60px;
    }

    &--grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__main-item {
    &--flat {
      grid-column: span 2;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 60px;
    margin: 0;
    padding: 0 80px;
    list-style: none;

    @include vp-1023 {
      padding: 0;
      column-gap: 24px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 0 0 20px 0;
    border-radius: 12px;
    background-color: $color-royal-blue-1;

    @include vp-1023 {
      width: 48px;
      height: 48px;
      margin-bottom: 15px;
    }
  }

  &__list-icon {
    @include vp-1023 {
      width: 24px;
      height: 24px;
    }
  }

  &__list-heading {
    margin: 0 0 12px 0;
    font-size: 24px;
    line-height: 28px;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  &__list-description {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: $color-storm-grey-1;
  }
}
