.card-advantages {
  display: flex;
  align-items: center;
  column-gap: 100px;
  height: 100%;
  border-radius: 16px;

  @include vp-1023 {
    flex-direction: column;
    column-gap: 28px;
  }

  &--reverse {
    .card-advantages__content {
      padding: 100px 0 100px 140px;

      @include vp-1023 {
        padding: 30px 15px 20px;
      }
    }
  }

  &--heavenly {
    background-color: $color-columbia-blue;
  }

  &--purple {
    background-color: $color-portage;
  }

  &--blue {
    color: $color-white;
    background-color: $color-cornflower-blue;

    @include vp-1023 {
      display: grid;
      grid-template-columns: 340px 1fr;
      min-height: 300px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }

    .card-advantages__image {
      width: 100%;
      height: auto;
    }

    .card-advantages__content {
      @include vp-1023 {
        padding: 0;
      }

      @include vp-767 {
        padding: 30px 30px 34px;
      }
    }

    .card-advantages__heading {
      text-align: left;
    }

    .card-advantages__description {
      text-align: left;
    }
  }

  &--dark-gray {
    color: $color-white;
    background-color: $color-manatee-1;
  }

  &--light-gray {
    background-color: $color-solitude-2;
  }

  &--small {
    flex-direction: column;
    grid-column: span 1;
    min-height: 640px;

    @include vp-1023 {
      min-height: 408px;
    }

    .card-advantages__content {
      padding: 60px;

      @include vp-1023 {
        padding: 30px;
        align-items: start;
      }
    }

    .card-advantages__description {
      @include vp-1023 {
        text-align: left;
      }
    }

    .card-advantages__picture {
      margin: auto 0 0 0;
    }

    .card-advantages__image {
      width: 100%;
      height: auto;
    }

  }

  &__picture {
    flex-shrink: 0;
  }

  &__image {
    @include vp-1023 {
      width: 250px;
      height: 220px;
    }
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0;
    padding: 0 0 0 22px;

    @include vp-1023 {
      gap: 10px;
      padding-left: 18px;
    }
  }

  &__subitem {
    font-size: 18px;
    line-height: 24px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__content {
    padding: 100px 140px 100px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include vp-1023 {
      padding: 10px 15px 30px;
      align-items: center;
    }
  }

  &__heading {
    margin: 0 0 20px 0;
    font-size: 32px;
    line-height: 36px;

    @include vp-1023 {
      text-align: center;
      font-size: 22px;
      line-height: 28px;
      margin-bottom: 10px;
    }
  }

  &__description {
    margin: 0;
    font-size: 18px;
    line-height: 24px;

    @include vp-1023 {
      text-align: center;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__btn {
    width: 224px;
    margin: 32px 0 0 0;

    @include vp-1023 {
      width: 187px;
      margin-top: 30px;
    }
  }
}
