.footer {
  padding: 40px 0;
  background-color: $color-solitude-2;

  @include vp-767 {
    padding: 30px 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 191px 340px 1fr;
    column-gap: 129px;
    align-items: start;

    @include vp-1023 {
      grid-template-columns: 191px 1fr;
      column-gap: 157px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include vp-767 {
      align-items: center;
    }
  }

  &__logo-link {
    display: flex;
    margin: 0 0 40px;

    &:hover, &:focus-visible {
      opacity: 0.5;
      outline: none;
    }

    @include vp-767 {
      margin: 0 0 20px;
    }
  }

  &__logo-image {
    @include vp-767 {
      width: 98px;
      height: 42px;
    }
  }

  &__contacts,
  &__phone,
  &__feedback,
  &__location,
  &__right,
  &__policy,
  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include vp-767 {
      align-items: center;
    }
  }

  &__contacts {
    row-gap: 16px;
    margin: 0 0 24px;

    @include vp-767 {
      margin-bottom: 20px;
    }
  }

  &__phone {
    row-gap: 2px;
  }

  &__phone-link {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;

    &:hover, &:focus-visible {
      color: $color-royal-blue-1;
      outline: none;
    }
  }

  &__phone-text,
  &__feedback-text,
  &__location-text,
  &__policy-link,
  &__copyright-text,
  &__language-link {
    font-size: 13px;
    line-height: 16px;
    color: $color-storm-grey-2;
  }

  &__feedback {
    row-gap: 12px;
    margin: 0 0 24px;

    @include vp-767 {
      gap: 8px;
      margin-bottom: 20px;
    }
  }

  &__feedback-btn {
    width: 143px;
  }

  &__location {
    row-gap: 8px;

    @include vp-767 {
      gap: 5px;
    }
  }

  &__location-link {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: $color-royal-blue-1;

    &:hover, &:focus-visible {
      color: $color-royal-blue-2;
      outline: none;
    }
  }

  &__nav-list {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    gap: 16px 60px;
    margin: 0;
    padding: 20px 0 0;
    list-style: none;

    @include vp-1023 {
      display: none;
    }
  }

  &__nav-link {
    font-size: 14px;
    line-height: 18px;

    &:hover, &:focus-visible {
      color: $color-royal-blue-1;
      outline: none;
    }
  }

  &__right {
    padding: 20px 40px 0 51px;

    @include vp-1023 {
      padding: 20px 0 0;
    }

    @include vp-767 {
      padding: 0;
    }
  }

  &__policy {
    row-gap: 12px;
    margin: 0 0 32px;

    @include vp-767 {
      display: none;
    }
  }

  &__policy-link {
    &:hover, &:focus-visible {
      color: $color-black-russian;
      outline: none;
    }
  }

  &__socials {
    margin: 0 0 32px;

    @include vp-767 {
      display: none;
    }
  }

  &__copyright {
    row-gap: 12px;
    margin: 0 0 20px;
  }

  &__copyright-text {
    margin: 0;

    @include vp-767 {
      text-align: center;
    }
  }

  &__copyright-link {
    &:hover, &:focus-visible {
      color: $color-black-russian;
      outline: none;
    }
  }

  &__copyright-date {
    font-size: 10px;
    line-height: 12px;
    color: $color-storm-grey-3;
  }

  &__language-link {
    display: flex;
    align-items: center;
    column-gap: 8px;

    &:hover, &:focus-visible {
      color: $color-black-russian;
      outline: none;
    }
  }
}
