.header {
	padding: 16px 0;

	@include vp-767 {
		padding: 15px 0;
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__logo-link {
		display: flex;
		margin-right: auto;

		&:hover, &:focus-visible {
			opacity: 0.5;
			outline: none;
		}
	}

	&__logo-image {
		@include vp-767 {
			width: 98px;
			height: 42px;
		}
	}

	&__box {
		display: flex;
		align-items: center;
		margin: 0 24px 0 0;
		border: 1px solid $color-hawkes-blue;
		border-radius: 12px;
		column-gap: 20px;
		padding: 5px;

		@include vp-1023 {
			border: none;
			margin: 0;
			padding: 0;
		}
	}

	&__btn {
		width: 128px;

		@include vp-1023 {
			padding: 0;
			width: auto;
		}
	}

	&__btn--active {
		@include vp-1023 {
			display: none;
		}
	}

	&__language-link {
		outline: none;
		display: flex;
		align-items: center;
		column-gap: 12px;
		border: 1px solid $color-hawkes-blue;
		border-radius: 12px;
		padding: 17px 22px 17px 21px;

		&:hover, &:focus-visible {
			background: $color-solitude-4;
			outline: none;
		}

		@include vp-1023 {
			display: none;
		}
	}

	&__language-link--disabled {
		background-color: $color-white-smoke-2;
    color: $color-manatee-2;
    pointer-events: none;
	}
}
