.hero {
  background-color: $color-solitude-2;
  position: relative;


  &--partners {
    .hero__heading {
      margin: 0 0 48px 0;

      @include vp-1023 {
        margin-bottom: 40px;
      }
    }

    .hero__btn {
      width: 258px;

      @include vp-1023 {
        width: 233px;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 660px;
    align-items: center;
    column-gap: 180px;

    @include vp-1023 {
      grid-template-columns: 1fr 420px;
      gap: 8px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
    }
  }

  &__content {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include vp-1023 {
      padding: 58px 0;
    }

    @include vp-767 {
      padding: 40px 0 276px;
      align-items: center;
    }
  }

  &__btn {
    width: 272px;
    z-index: 1;

    @include vp-1023 {
      width: 244px;
    }
  }

  &__heading {
    margin: 0 0 24px;
    font-size: 40px;
    line-height: 48px;

    @include vp-1023 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
    }

    @include vp-767 {
      text-align: center;
    }
  }

  &__heading-highlight {
    color: $color-royal-blue-1;
  }

  &__description {
    margin: 0 0 48px;
    font-size: 18px;
    line-height: 24px;

    @include vp-1023 {
      font-size: 16px;
      margin-bottom: 40px;
    }

    @include vp-767 {
      text-align: center;
    }
  }



  &__picture {
    width: 660px;
    height: 640px;
    @include vp-1023 {
      width: 420px;
      height: 410px;
    }

    @include vp-767 {
      width: 375px;
      height: 364px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
