.cosy {
	background-image: url("../../images/banner-bg.jpg");
	background-repeat: no-repeat;
	padding: 49px 80px;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;

	@media (min-resolution: 2dppx) {
		background-image: url("../../images/banner-bg@2x.jpg");
	}

	@include vp-1023 {
		padding: 28px 40px;
	}

	@include vp-767 {
		flex-direction: column;
		padding: 20px;
		gap: 19px;
	}

	&__title {
		font-weight: 400;
		font-size: 40px;
		line-height: 44px;
		margin: 0 0 10px;

		@include vp-1023 {
			font-size: 32px;
			line-height: 36px;
			margin-bottom: 5px;
		}

		@include vp-767 {
			font-size: 24px;
			line-height: 28px;
			text-align: center;
			margin-bottom: 2px;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;

		@include vp-1023 {
			font-size: 16px;
			line-height: 24px;
		}

		@include vp-767 {
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__link {
		
		padding: 21px;
		min-width: 240px;

		@include vp-767 {
			font-size: 12px;
			line-height: 16px;
			padding: 17px;
			width: 260px;
		}
	}
}