.help {
	background-color: $color-green-white;
	padding: 50px 0;

	@include vp-1023 {
		padding: 50px 20px;
	}

	@include vp-767 {
		padding: 40px 27px;
	}

	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		margin: 0 0 10px;
		text-align: center;

		@include vp-767 {
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 5px;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		display: block;
		text-align: center;
		margin: 0 0 60px;

		@include vp-1023 {
			margin-bottom: 50px;
		}

		@include vp-767 {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 41px;
		}
	}
}