// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-bokara-grey:#141211;
$color-hint-of-red: #f4f3f2;
$color-cloudy: #aea29a;
$color-swiss-coffee: #d7cfcb;
$color-moon-mist: #c8c8b6;
$color-bokara-grey-40: rgba(20, 18, 17, 0.4);
$color-light-grayish-red: #EAE9E9;
$color-light-grayish-yellow: #DEDED2;
$color-light-grayish-orange: #EAE2DE;
$color-very-dark-grayish-yellow: #62664A;
$color-dark-grayish-cyan: #92A7A6;
$color-very-dark-desaturated-orange: #3d2e25;
$color-soft-orange: #E0B363;
$color-dark-grayish-yellow: #A6A687;
$color-very-dark-grayish-yellow: #727254;
$color-red: #E80E0A;
$color-kilamanjaro: #3B332F;


// Typography
$ff-mulish: "Mulish", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
