// Colors

$color-white:          #ffffff;
$color-black:          #000000;
$color-bunting:        #212e4a;
$color-zorba:					 #a99e96;
$color-zorba-alpha: rgba(169, 158, 150, 0.1);
$color-solitude:       #e9eaed;
$color-storm-grey:     #6d7484;
$color-light-grey:     #d4d4d4;
$color-feldspar:       #c99374;

$color-light-grey-60:  rgba(212, 212, 212, 0.6);
$color-zorba-20:       rgba(169, 158, 150, 0.2);
$color-steel-blue-80:  rgba(76, 119, 170, 0.8);
$color-mariner-80:     rgba(52, 86, 160, 0.8);

// Typography

$ff-jost: "Jost", "Arial", sans-serif;

// Viewport

$vp-tablet: 1024px;
$vp-mobile: 767px;
