.custom-input {
	display: flex;
	flex-direction: column-reverse;
	gap: 5px;
	position: relative;

	&--error .custom-input__field {
		border-color: $color-error;
	}

	&--error .custom-input__error {
		display: block;
	}

	&__label {
		font-size: 14px;
		line-height: 18px;
		color: $color-grey-suit;
		user-select: none;
		cursor: pointer;

		@include vp-767 {
			font-size: 12px;
			line-height: 16px;
		}

	}

	&__field {
		border: 1px solid $color-hawkes-blue;
		border-radius: 8px;
		background-color: transparent;
		padding: 16px;
		margin: 0;
		width: 100%;
		font-size: 15px;
		line-height: 20px;
		color: $color-nero; 

		&:hover, &:focus-visible {
			border-color: $color-deep-lilac;
			outline:none;
		}
		
		&::placeholder {
			color: $color-grey-suit;
		}

		&[disabled] {
			background-color: $color-ghost-white;
			opacity: 0.5;
			pointer-events: none;
		}

		&[disabled] + .custom-input__label {
			opacity: 0.5;
			pointer-events: none;
		}

		@include vp-767 {
			font-size: 14px;
			line-height: 18px;
			padding: 15px;
		}

	}	

	&__error {
		font-size: 12px;
		line-height: 16px;
		color: $color-error;
		position: absolute;
		left: 0;
		bottom: -16px;
		display: none;
	}
}