.success {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-top: 154px;

	&__heading {
		font-weight: 600;
		font-size: 32px;
		line-height: 36px;
		display: block;
		text-align: center;
		margin: 0 0 20px;

		@include vp-1023 {
			font-size: 26px;
			line-height: 32px;
		}

		@include vp-767 {
			font-size: 20px;
			line-height: 20px;
			margin-bottom: 15px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 20px;
		display: block;
		text-align: center;
		margin: 0 0 40px;

		@include vp-767 {
			max-width: 160px;
			font-size: 13px;
			line-height: 16px;
			margin-bottom: 30px;
		}
	}

	&__btn {
		margin: 0 auto;
		width: 200px;

		@include vp-767 {
			width: 160px;
			font-size: 12px;
			line-height: 16px;
			padding: 13px;
		}
	}

	&__icon {
		position: absolute;
		top: 29px;
		left: calc(50% - 5px);
		transform: translateX(-100%);

		@include vp-767 {
			top: 39px;
		}

		&--reversed {
			transform: scaleX(-1);
			top: 54px;
			left: calc(50% + 5px);

			@include vp-767 {
				top: 64px;
			}
		}
	}
}