.outro {
	background: url('../images/outro-bg.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 500px;
	background-position-y: 100%;

	@media (min-resolution: 2dppx) {
		background-image: url('../images/outro-bg@2x.jpg');
	}

	@include vp-1023 {
		height: 280px;
		background-image: url('../images/outro-bg-tablet.jpg');
	}

	@media (min-resolution: 2dppx) and (max-width: 1023px) {
		background-image: url('../images/outro-bg-tablet@2x.jpg');
	}

	@include vp-767 {
		height: 200px;
		background-image: url('../images/outro-bg-mobile.jpg');

		@media (min-resolution: 2dppx) {
			background-image: url('../images/outro-bg-mobile@2x.jpg');
		}
	}
}
