.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 16px;
  font-size: 22px;
  font-family: inherit;
  font-weight: 700;
  line-height: 32px;
  color: $color-black;
  background-color: $color-light-green;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color $transition-300;

  &[disabled] {
    color: rgba(0, 0, 0, 0.4);
    background-color: $color-white;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  &:hover,
  &:focus-visible {
    background-color: $color-pastel-green;
  }

  &__icon {
    flex-shrink: 0;
    pointer-events: none;
  }
}
