.feedback {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(114.85deg, #181A1D 0%, #1F153C 100%);

  &__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 327px 0 281px;
    position: relative;
    width: 100%;
  }

  &__bubbles {
    list-style: none;
    padding: 0;
  }

  &__content {
    margin-bottom: 32px;
    width: 520px;
  }

  &__title {
    color: #FFFFFF;
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-size: 84px;
    font-weight: 400;
    line-height: 84px;
    margin: 0 0 16px 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__title-accent {
    color: #87F29A;
  }

  &__description {
    font-size: 22px;
    line-height: 32px;
    margin: 0;
    text-align: center;
  }
}
