.form-order {
  align-items: flex-start;
  display: flex;
  gap: 80px;
  width: 100%;

  .custom-textarea {
    grid-column: 1 / -1;
  }

  &__fields-block {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__group {
    border: none;
    margin: 0;
    padding: 0;
  }

  &__group-name {
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
  }

  &__fields {
    display: grid;
    gap: 39px 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  &__radio-group {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__input-group {
    display: grid;
    gap: 12px;
    grid-column: 1 / -1;
    grid-template-columns: 379px repeat(3, 1fr);
  }

  &__result {
    flex-shrink: 0;
    width: 420px;
  }

  &__title {
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 40px;
  }

  
}

