.governing-card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	$root: &;

	&:hover,
	&:focus-visible {
		#{$root}__icon {
			background-color: $color-white;
			svg {
				color: $color-blue-charcoa;	
			}
		}

		outline: none;
	}

	&__picture {
		height: 580px;
		position: relative;
		margin: 0 0 15px;

		@include vp-1023 {
			height: auto;
			aspect-ratio: 232 / 340;
			margin: 0 0 10px;
		}

		@include vp-767 {
			aspect-ratio: 160 /240;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__icon {
		background: $color-blue-charcoa;
		border-radius: 50%;
		position: absolute;
		height: 64px;
		width: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 20px;
		right: 20px;
		color: $color-white;
		transition: background-color $transition-300;

		@include vp-1023 {
			width: 48px;
			height: 48px;
			bottom: 15px;
			right: 15px;
		}

		@include vp-767 {
			width: 40px;
			height: 40px;
			right: 10px;
			bottom: 10px;
		}

		& svg {
			transition: color $transition-300;
			@include vp-1023 {
				width: 18px;
				height: 18px;
			}
			@include vp-767 {
				width: 15px;
				height: 15px;
			}
		}
	}

	&__name {
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.02em;
		font-weight: 300;
		margin: 0;
		text-transform: uppercase;

		@include vp-1023 {
			font-size: 16px;
			line-height: 20px;
			margin: 0 0 4px;
		}
	}

	&__position {
		font-size: 14px;
		line-height: 20px;
		margin: 0;

		@include vp-1023 {
			font-size: 12px;
			line-height: 16px;
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
