.main-video {
  margin: 0 0 100px;
  $root: &;

  @include vp-1023 {
    margin-bottom: 60px;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }

  &__inner {
    position: relative;
    display: flex;
  }

  &__play {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;

    &:hover, &:focus-visible {
      #{$root}__play-icon {
        background-color: $color-grey;
      }
      outline:none;
    }
  }

  &__play-icon {
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $color-white;
    margin: 0 0 10px;
    transition: background-color $transition-300;

    svg {
      width: 16px;
      height: 14px;
    }
  }

  &__play-text {
    font-size: 16px;
    line-height: 24px;
    color: $color-white;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__video {
    width: 100%;
    height: 780px;
    object-fit: cover;

    @media (max-width:1250px) {
			height: 500px;
		}

    @include vp-1023 {
      height: 360px;
    }

    @include vp-767 {
      height: 260px;
    }
  }
}
